@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair+Display&display=swap');

header{
    font-family: "Playfair display";
    color: #0077b6;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-top: 5px;
}
body{
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color:#caf0f8;
}
h2{
    font-family: "Oswald";
    color: #00b4d8;
}
h3{
    font-family: "Oswald";
    color: #00b4d8;
}
p{
    font-family: "Oswald";
    color: #00b4d8;
}