@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rock+Salt&display=swap');
@media screen and (max-width: 900px) {
    #hero{
        display: block;
        height: auto;
    }
    .home-grid {
        display: block;
        height: auto;
    }
    nav{
        flex-direction: column;
    } footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rapids-card{ 
        margin: 50px auto;
        width: 60%;
    }
    .camping-card{ 
        margin: 50px auto;
        width: 60%;
    }
    .rivers-card{ 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    }
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }

.book{
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    font-family: "Raleway";
    font-size: 18px
}
nav {
    display: flex;
    justify-content: space-around;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img{
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width:100%;
    border: 10px solid #d9c2a3;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.home-grid{
    grid-template-columns: repeat(10, 1);
    grid-column-gap: 120px;
    display: grid
}
main section img {
    box-sizing: border-box;
}
.join{
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    font-family: "Raleway";
    font-size: 18px
}
.msg p{
    font-family: "Raleway";
    font-size: .8em
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-top: 5px;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 200px 0;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
    margin: 200px 0;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
    margin: 200px 0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero{
    margin-top: -100px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
nav a{
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 10px 20px;
}
#hero-msg h1{
    text-align: center;
} 
#hero-msg h4{
    color: white;
    text-align: center;
}
.button-box{
    text-align: center;
}
section{
    text-align: center;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
}
body{
    font-family: "Raleway";
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #fcfbfb; 
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color:rgba(20,30,13, .7);
}
.book{
    
    background-color: #d9c2a3;
}
.join{
    background-color: #d9c2a3;
}
.book:hover{
    background-color: aquamarine;
}
.join:hover{
    background-color: aquamarine;
}
#background{
    background-color: coral;
}
.msg{
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    padding: 35px;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    line-height: 1.5em;
    background-color: gray;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
    background-color: gray;
}
nav a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    background-color: none;
    color: #d9c2a3;
    padding: 5px
}    
nav a:hover{
    background-color: black;
    color: #d9c2a3;
}    
.home-title{
    margin-top: 10px;
    font-family: "Rock Salt";
    font-size: 2em;
    color: #d9c2a3;
}    
h4{
    background-color: none;
    color:black
}
.msg h2{
    background-color: gray;
    color:#fcfbfb
}
.msg p{
    padding-bottom: 15px;
    text-decoration: none;
    font-family: "Raleway";
    background-color: gray;
    color:#fcfbfb
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px; 
    padding: 25px 50px;
    text-decoration: none;
    text-align: center;
    background-color: gray;
    color:#fcfbfb
}
footer a{
    padding-top: 15px;
    background-color: gray;
    color:#fcfbfb
}
footer a:hover{
    padding-top: 15px;
    background-color: gray;
    color:#fcfbfb
}
.logo{
    width: 80px;
}
.icon {
    padding-top: 10px;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    width: 80px;
}

#hero-img{
    width: 100%
}
footer a {
    padding-top: 15px;
    text-decoration: none;
    color: #fcfbfb;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}
h2{
    margin: 0;
}